.header {
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
    font-size: 18px;
}

.header__image {
    display: flex;
    background-color: #000;
}

.header__link {
    margin-left: 5px;
    margin-right: 5px;
}

.header__block {
    display: flex;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}